<div class="container">
  <div class="row mb-3 justify-content-between">
    <div class="col-md-5" *ngIf="countries.length > 0 && teamsData.length > 0">
      <ngx-select-dropdown
        [config]="{
          displayKey: '',
          search: true,
          placeholder: 'Search Team, Country',
          searchOnKey: '',
          searchPlaceholder: 'Search Team, Country',
          height: '400px'
        }"
        [options]="searchedTextList"
        [(ngModel)]="searchedTeam"
        (change)="searchTeam()"
      ></ngx-select-dropdown>
    </div>
    <div class="col-md-2 ">
      <input
        type="button"
        value="Add Team"
        class="btn btn-primary"
        (click)="onAddTeam()"
      />
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-md-12">
    <div class="card">
      <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th>Team ID</th>
          <th>Team Name</th>
          <th>Team Country</th>
          <th>Team Type</th>
          <th>Team Stadium</th>
          <th style="width: 90px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let row of teams
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
          [class.active]="i == currentIndex"
        >
          <td scope="row">
            <ng-container>
              <span>{{ row.teamId }}</span>
            </ng-container>
          </td>
          <td>
            <ng-container>
              <span *ngIf="!row.isEdited" class="verticalTextAlign">{{
                row.teamText
              }}</span>
              <input
                *ngIf="row.isEdited"
                type="text"
                [(ngModel)]="row.teamText"
              />
            </ng-container>
          </td>
          <td style="min-width: 140px">
            <ngx-select-dropdown
              [config]="{
                displayKey: 'text',
                search: true,
                placeholder: 'Search Country',
                searchOnKey: 'text',
                searchPlaceholder: 'Search'
              }"
              [disabled]="!row.isEdited"
              [options]="countries"
              [(ngModel)]="row.teamCountryText"
              (change)="countryChange(row, $event)"
            ></ngx-select-dropdown>
          </td>
          <td style="min-width: 140px">
            <ngx-select-dropdown
              [config]="{
                displayKey: 'text',
                search: true,
                placeholder: 'Search Type',
                searchOnKey: 'text',
                searchPlaceholder: 'Search'
              }"
              [disabled]="!row.isEdited"
              [options]="teamTypes"
              [(ngModel)]="row.teamTypeText"
              (change)="teamTypeChange(row, $event)"
            ></ngx-select-dropdown>
          </td>
          <td style="min-width: 140px">
            <ngx-select-dropdown
              [config]="{
                displayKey: 'text',
                search: true,
                placeholder: 'Search Stadium',
                searchOnKey: 'text',
                searchPlaceholder: 'Search'
              }"
              [disabled]="!row.isEdited"
              [options]="stadiums"
              [(ngModel)]="row.teamStadiumText"
              (change)="teamStadiumChange(row, $event)"
            ></ngx-select-dropdown>
          </td>
          <td>
            <input
              type="button"
              *ngIf="!row.isEdited"
              class="btn btn-link m-1"
              (click)="onEditTeam(row)"
              value="Edit"
            />
            <input
              type="button"
              *ngIf="row.isEdited"
              class="btn btn-link m-1"
              (click)="onUpdateTeam(row)"
              value="Update"
            />
            <input
              type="button"
              *ngIf="row.isEdited"
              class="btn btn-link m-1"
              (click)="onResetTeam(row)"
              value="Cancel"
            />
            <input
              type="button"
              *ngIf="!row.isEdited"
              class="btn btn-link del-btn"
              (click)="onDeleteTeamteam(row)"
              value="Delete"
            />
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <pagination-controls
        responsive="true"
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
    <div class="col-md-4">
      <div class="p-2 bd-highlight">
        <select (change)="onTableSizeChange($event)" class="custom-select">
          <option *ngFor="let size of tableSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
